In [ ]:
set1={1, '2'}
set1

{1, '2'}

**[Slide No. 41]**

1. Write a Python program to create a set.

**[Slide No.41]**

2. Write a Python program to add member(s) in a set.

In [ ]:
set1.add(12)
set1

{1, 12, '2'}

**[Slide No. 41]**
 
 3. Write a Python program to add string , int, list and float  member(s) in a set.

In [ ]:
set1.add(13)
set1.add('abc')
l1=[1,2,3]
set1.update(l1)
set1.add(3.4)
set1

{1, 12, 13, 2, '2', 3, 3.4, '[1,2,3]', 'abc'}

**[Slide No. 41]**

4. Write a program to add multiple element in set.

**[Slide No. 43]**

5. What is the output :

my_set = {1, 3, 4, 5, 6}

Explain the difference between discard and remove method in set

**[Slide No. 42]**

6. Write a program to remove duplicate value from set.

7.  Write a Python program to clear a set.

**[Slide No. 43]**

8. Write a program to add two set.

**[Slide No. 43]**

9. What is the output of:

months = set(["January","February", "March", "April", "May", "June"])   

print("\nprinting the original set ... ")    

-Q. Print the set month    

print("\nRemoving some months from the set...");    

-Q. Remove january  from the set    

-Q. Remove may  from the set  


print("\nPrinting the modified set...");    

print(months)

**[Slide No. 44]**

10. Find union of

Days1 = {"Monday","Tuesday","Wednesday","Thursday"}
    
Days2 = {"Friday","Saturday","Sunday"}

**[Slide No. 45]**

 11. Write a Python program to create an intersection of sets.

**[Slide No. 45]**

12. Write a Python program to create set difference.